:root{
    --cor1: #0f162dd0;
    --cor2: #155dfc;
    --cor3: #50a2ff;
    --cor4: #fdc700;
    --cor5: #38498186;
    --corfonte1: #ffffff;
    --corfonte2: linear-gradient(45deg, #55a0ff, #ac48ff);
    --corfonte3: #6f93ff;
}

/*limpeza de margens e preenchimentos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(ImagensPort/BackgroundDark.jpeg) no-repeat fixed center / cover;
    font-family: Arial, sans-serif;
    color: var(--corfonte1);
}
/*-------------------------------------------------------------------------------------------------------*/
/*----Cabeçalho e rodapé----*/
/* Estilo do cabeçalho */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 900;
}

.elemento p{
    font-size: 1.5rem;
    color: var(--corfonte1);
    font-weight: bold;
}

/*menu para desktop*/
.menu-desktop ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-desktop ul li{
    margin: 10px;
}
.menu-desktop ul li a{
    width: 120px;
    color: var(--corfonte3);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-desktop ul li a:hover{
    color: var(--corfonte1);
    transition: 0.3s;
}

.menu-desktop ul li a.active{
    background-color: var(--cor2);
    color: var(--corfonte1);
    border: solid 1px var(--corfonte1);
    padding: 12px;
    border-radius: 8px;
}

.menu-responsivo{
        display: none;
        background-color: var(--cor5);
        padding-top: 20rem;
        padding-bottom: 3rem;
        width: 15rem;
        height: 100vh;
        justify-content: center;
        backdrop-filter: blur(10px);
        z-index: 999;
    }

    
    .menu-responsivo ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 1rem;
         align-items: center;
    }

    .menu-responsivo ul li{
        list-style: none;
    }

    .menu-responsivo ul li a{
        font-size: 1.25rem;
        text-decoration: none;
        color: #ffffff;  
    }

#botaoTema button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*Rodapé*/
footer{
    height: 50px;
    padding: 20px;
    border-top: solid 1px var(--corfonte3);
    font-size: 1rem;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------------*/
/*----Página Sobre Mim----*/

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    
}

.conteiner-img{
    min-width: 230px;
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--corfonte2);
    margin-right: 50px;
}

.imagem-perfil{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}    

.apresentacao{
    display: flex;
    justify-content: center;
}

.apresentacao h1{
    font-size: 2.75rem;
    color: var(--corfonte2);
    margin-bottom: 30px;
}

.apresentacao p{
    max-width: 600px;
    color: var(--corfonte1);
    font-size: 1.125rem;
    line-height: 1.5;
}

/*Seção sobre mim*/

.sobre-mim{
    width: 70%;
    background-color: var(--cor5);
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px var(--corfonte3);
    font-size: 1.125rem;
    text-align: justify;
    line-height: 35px;
    transition: transform 0.3s;
}

.sobre-mim:hover{
    transform: scale(1.03);
    transition: 0.3s;
}
.sobre-mim h2{
    color: var(--corfonte2);
    margin-bottom: 20px;
}

/*Habilidades*/
.conteiner-habilidades{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    gap: 1.5rem;
}
.habilidades{
    width: 250px;
    height: 250px;
    background-color: var(--cor5);
    align-items: first baseline;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px var(--corfonte3);
    transition: transform 0.3s;
}

.habilidades:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.habilidades h2{
    color: var(--corfonte2);
    margin-bottom: 20px;
}

.habilidades ul{
    color: var(--corfonte1);
    font-size: 1.125rem;
    line-height: 1.5;
    margin-left: 20px;
}

i{
    font-size: 2rem;
    color: var(--corfonte3);
    margin-bottom: 20px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*----Estilo Página Formação----*/

.container-formacao-cursos{
    width: 70%;
    align-items: center;
    margin: 150px auto;
    
}

.formacao{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px var(--corfonte3);
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s;
}

.formacao i{
    font-size: 2.8rem;
}

.formacao:hover{
    transform: translate(10px);
    transition: 0.3s;
}

.formacao-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    height: 100%;
}

.cursos{
    width: 100%;
    margin-top: 30px;
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px var(--corfonte3);
}

.curso{
    background-color: var(--cor5);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    margin: 10px;
    padding: 15px;
    transition: transform 0.3s;
}

.curso:hover{
    border: solid 1px var(--corfonte3);
    transform: translate(10px);
}

/*---------------------------------------------------------------------------------------------------------*/
/*----Estilo Página Portifólio----*/

.conteiner-projetos{

    margin: 150px 100px 200px 150px;
    display: grid;
    justify-content: center;
    
}

.conteiner-projetos h1{
    font-size: 2rem;
}

.conteiner-cards{
    display: grid;
    grid-template-columns: 650px 650px;;
    gap: 20px;
    margin-left: 3rem;
}

.projetos{
    background-color: var(--cor5);
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border-radius: 10px;
    border: solid 1px var(--corfonte3);
    transition: transform 0.3s;
}

.projetos:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

.imagem-projeto{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;;
} 

.text-projeto{
    text-align: justify;
    padding: 10px;
    line-height: 25px;
} 

.text-projeto h2{
    padding-bottom: 20px;
}

.text-projeto a{
    color: var(--cor4);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.125rem;
}

.text-projeto a:hover{
    font-size: 1.25rem;
    transition: 0.3s;
    cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------*/
/*----Estilo Página Contato----*/

/*estilo do formulário*/
.conteiner-contato{
    margin: 150px 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.conteiner-contato h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.conteiner-formulario{
    width: 60%;
}

.formulario{
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    border: solid 1px var(--corfonte3);
    display: flex;
    flex-direction: column;
    background-color: var(--cor5);
    line-height: 40px;
}

.input-campo{
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 7px;
    border: solid 1px var(--corfonte3);
    background-color: var(--cor1);
    color: var(--corfonte1);
}

.botao-enviar{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border: solid 1px var(--corfonte3);
    background-color: var(--cor2);
    color: var(--corfonte1);
    font-size: 1.125rem;
}

.botao-enviar:hover{
    transform: scaley(1.03);
    cursor: pointer;
    border: solid   1px var(--corfonte1);
    font-weight: bolder;
}

/*estilo das informações de contato*/
.conteiner-contato{
    width: 90%;
    margin: 120px auto;
}

.informacoes-contato{
    display: flex;
    flex-direction: column;
    width: 35%;
    }

.contato{
    width: 100%;
    height: 50%;
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 15px;
    border: solid 1px var(--corfonte3);
    margin-top: 55px;
}

.contato h2, .sociais h2{
    color: var(--corfonte2);
    margin: 20px 0 30px 0;
}

.contato p{
    color: var(--corfonte1);
    font-size: 1.125rem;
    line-height: 30px;
    padding-bottom: 20px;
}

.contato i{
    margin-right: 15px;
}

.sociais{
    width: 100%;
    height: 50%;
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 15px;
    border: solid 1px var(--corfonte3);
    margin-top: 55px;   
}

.icon-social{
    display: flex;
    justify-content: space-evenly;
}

.sociais a{
    color: var(--corfonte1);
    font-size: 2rem;
    padding: 15px 15px 0 15px;
    background-color: var(--cor1);
    border-radius: 10px;
    border: solid 1px var(--cor5);
}

.sociais i{
    font-size: 2.25rem
}

.sociais a:hover{
    color: var(--cor2);
    border: solid 2px var(--corfonte1);
}

.sociais a:hover i{
    color: var(--corfonte1);
    transition: 0.3s;
}

/*---------------------------------------------------------------------------------------------------------*/
/*----Estilo responsividade----*/
/*desktop menu*/
@media (min-width: 55.31rem){
    .hideDesktop{
        display: none;
    }
}

/*Tablet*/

@media (max-width: 55.31rem){
     .hideMobile{
        display: none;
    }

    .menu-responsivo{
        padding-top: 21rem;
    }
     

    .apresentacao{
        flex-direction: column;
        text-align: center;
    }

    .conteiner-img{
        margin-right: 0;
        margin-bottom: 1.25rem;
        width: 170px;
        height: 170px;
    }
    .imagem-perfil{
       width: 95%; 
       height: 95%;
    }

    .conteiner-habilidades{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .conteiner-projetos{
        margin: 150px 20px 200px 20px;
    }

    .conteiner-cards{
        grid-template-columns: 100%;
    }

    .projetos{
       width: 100%;
       padding: 1rem 1rem 3.5rem 1rem;
    }

    .imagem-projeto{
        width: 100%;
        height: 70%;
    }

    .conteiner-contato{
        flex-direction: column;
        align-items: center;
    }

    .conteiner-formulario, .informacoes-contato{
        width: 100%;
    }
}

/*Mobile*/
 @media (max-width: 34.38rem){
    /*header*/
   
    .elemento p{
        font-size: 1rem;
    }
   

    /*pagina sobre mim*/
    .conteiner-img{
        width: 120px;
        height: 120px;
    }

    .apresentacao h1{
         font-size: 2rem;
     }

     .apresentacao p{
         font-size: 16px;
     }

     .sobre-mim{
         width: 90%;
     }

     .conteiner-habilidades{
         width: 90%;
     }

     .habilidades{
         width: 100%;
     }

     /*formação*/

    .container-formacao-cursos{
        width: 90%;
    }

    .formacao{
        font-size: 16px;
    }

    .curso{
        width: 100%;
        
    }
    
    /*portifolio*/
    .conteiner-projetos{
        width: 90%;
        justify-content: center;
    }

    .conteiner-cards{
        width: 100%;
        margin-left: 0;
    }
    .projetos{
       width: 100%;
       padding: 1rem;
    }

    .imagem-projeto{
        height: 250px;
    }

    /*formação*/
    .formacao h2{
        font-size: 1.25rem;
    }

    .formacao i{
        font-size: 2.5rem;
    }
    .curso{
        margin: 1rem 0;
    }

    .formacao-info{
        margin-left: 1rem;
    }

    /*contato*/
    .conteiner-contato{
        width: 90%;
        margin:120px auto;
        font-size: 1rem;
    }

    .contato{
        font-size: 1rem;
    }

    .conteiner-formulario{
        width: 100%;
    }

    .sociais a{
        font-size: 1rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .sociais i{
        font-size: 1.75rem;
    }
 }